black>=24.3.0
build>=0.10.0
flake8>=6.0.0
maxwell>=0.2.3
numpy>=1.24.3
pandas>=1.5.3
pytest>=7.3.1
pytorch-lightning>=1.7.0,<2.0.0
scipy>=1.10.1
setuptools>=67.8.0
torch>=2.0.0
tqdm>=4.65.0
twine>=4.0.2
wandb>=0.15.3
wheel>=0.40.0
