version: 2.1

jobs:
  pre-build:
    description: A check that needs to be done on only one supported Python version
    parameters:
      command-run:
        type: string
    docker:
      - image: cimg/python:3.14
    steps:
      - checkout
      - run:
          command: pip install -r requirements.txt
      - run:
          command: << parameters.command-run >>
  build-test-python:
    parameters:
      python-version:
        type: string
    docker:
      - image: cimg/python:<< parameters.python-version >>
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Build source distribution and install package from it
          command: |
              pip install -r requirements.txt && \
              python -m build && \
              pip install dist/`ls dist/ | grep .whl`
      - run:
          name: Show installed Python packages
          command: pip list
      - run:
          name: Run tests
          command: |
              pytest -vv \
                  -k "not TestYoyodyne" \
                  --junitxml /tmp/testxml/report.xml \
                  tests
      - store_test_results:
          path: /tmp/testxml/

workflows:
  version: 2
  build:
    jobs:
      - pre-build:
          name: black
          command-run: black --line-length 79 --check .
      - pre-build:
          name: flake8
          command-run: flake8 --ignore E203,E704,W503 .
      - pre-build:
          name: twine
          command-run: |
            python -m build && \
            twine check dist/`ls dist/ | grep .tar.gz` && \
            twine check dist/`ls dist/ | grep .whl`
      - build-test-python:
          requires:
            - black
            - flake8
            - twine
          matrix:
            parameters:
              python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
