# Model parameters similar to those of Wu & Cotterell:
# https://aclanthology.org/P19-1148/
# 
# This is the first-order version that enforces monotonicity.
#
# They don't report a batch size.
class_path: yoyodyne.models.HardAttentionLSTMModel
init_args:
  source_encoder:
    class_path: yoyodyne.models.modules.LSTMEncoder
    init_args:
      dropout: ${init_args.decoder_dropout}
      embedding_size: ${init_args.embedding_size}
      hidden_size: ${init_args.decoder_hidden_size}
  attention_context: 1
  decoder_dropout: .3
  decoder_hidden_size: 400
  embedding_size: 200
  enforce_monotonic: true
  optimizer:
    class_path: torch.optim.Adam
    init_args:
      lr: .001
