# Tuning is probably necessary to figure out sensible values here.
class_path: yoyodyne.models.SoftAttentionLSTMModel
init_args:
  source_encoder:
    class_path: yoyodyne.models.modules.TransformerEncoder
    init_args:
      dropout: .3
      embedding_size: 300
      hidden_size: 100
      layers: 4
  decoder_dropout: .3
  decoder_hidden_size: 100
  embedding_size: 300
  optimizer:
    class_path: torch.optim.Adam
    init_args:
      lr: .001
