# Model parameters similar to those of Singer & Kann (2020):
# https://aclanthology.org/2020.sigmorphon-1.8/
# 
# They use --data.batch_size 100
class_path: yoyodyne.models.PointerGeneratorTransformerModel
init_args:
  source_encoder:
    class_path: yoyodyne.models.modules.TransformerEncoder
    init_args:
      dropout: ${init_args.decoder_dropout}
      embedding_size: ${init_args.embedding_size}
      hidden_size: ${init_args.decoder_hidden_size}
      layers: ${init_args.decoder_layers}
  decoder_dropout: .3
  decoder_hidden_size: 1024
  decoder_layers: 4
  embedding_size: 256
  optimizer:
    class_path: torch.optim.Adam
    init_args:
      lr: .001
  scheduler:
    class_path: yoyodyne.schedulers.WarmupInverseSquareRoot
    init_args:
      warmup_epochs: 10
