# Model parameters similar to those of Sharma et al. ("high setting"):
# https://aclanthology.org/W16-2010/
# 
# They use --data.batch_size 32.
#
# Nowadays most people would probably prefer larger batch sizes.
class_path: yoyodyne.models.PointerGeneratorLSTMModel
init_args:
  source_encoder:
    class_path: yoyodyne.models.modules.LSTMEncoder
    init_args:
      dropout: ${init_args.decoder_dropout}
      embedding_size: ${init_args.embedding_size}
      hidden_size: ${init_args.decoder_hidden_size}
  decoder_dropout: .3
  decoder_hidden_size: 100
  embedding_size: 300
  optimizer:
    class_path: torch.optim.Adam
    init_args:
      lr: .001
